<h2><em>Добро пожаловать к нам!</em></h2>
<p style="font-size: 1.5em;"><em>Вы можете выбрать любой понравившийся вам автомобиль!</em></p>
<p style="font-size: 1.5em;">&nbsp;<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<table class="editorDemoTable" style="width: 296px;">
<tbody>
<tr>
<td style="width: 19px;">&nbsp;</td>
<td style="width: 171.438px;"><strong><em>Марка машины</em></strong></td>
<td style="width: 10px;"><strong><em>Цвет</em></strong></td>
<td style="width: 101px;"><strong><em>Год выпуска</em></strong></td>
</tr>
<tr>
<td style="width: 19px;">1</td>
<td style="width: 171.438px;">BMV</td>
<td style="width: 10px;">красный</td>
<td style="width: 101px;">2020</td>
</tr>
<tr>
<td style="width: 19px;">2</td>
<td style="width: 171.438px;">Audi</td>
<td style="width: 10px;">синий</td>
<td style="width: 101px;">2021</td>
</tr>
<tr>
<td style="width: 19px;">3</td>
<td style="width: 171.438px;">Mercedes-Benz</td>
<td style="width: 10px;">серый</td>
<td style="width: 101px;">2019</td>
</tr>
<tr>
<td style="width: 19px;">4</td>
<td style="width: 171.438px;">Volkswagen</td>
<td style="width: 10px;">черный</td>
<td style="width: 101px;">2018</td>
</tr>
<tr>
<td style="width: 19px;">5</td>
<td style="width: 171.438px;">Lexus</td>
<td style="width: 10px;">черный</td>
<td style="width: 101px;">2022</td>
</tr>
</tbody>
</table>
